.profile {
  width: 100%;
  height: 100%;
  min-height: calc(100vh - 74px);
  max-width: 410px;
  min-width: 320px;
  padding: 74px 0 70px 0;
  display: flex;
  flex-direction: column;
  align-self: center;
  box-sizing: border-box;
  background-color: #202020;
}
.profile__title {
  margin: 0 0 123px 0;
  font-family: "Inter", ‘Arial’, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #fff;
}

.profile__form {
  width: 100%;
  max-width: 410px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.profile__form-label {
  height: 47px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #424242;
  font-size: 11px;
  font-weight: 500;
  line-height: 1.18;
  white-space: nowrap;
}
.profile__form-label:last-of-type {
  border-bottom: none;
}

.profile__form-input {
  width: 100%;
  height: 100%;
  margin: 0 0 0 15px;
  padding: 0;
  text-align: right;
  background-color: #202020;
  border: none;
  box-sizing: border-box;
  color: #fff;
}
.profile__form-input:focus {
  padding-left: 15px;
  padding-right: 15px;
  text-align: left;
  outline: none;
  border-radius: 50px;
  border: 1px solid #4285f4;
}

.profile__form-submit {
  padding: 0;
  margin: 204px auto 16px;
  display: flex;
  align-items: center;
  font-family: "Inter", ‘Arial’, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #fff;
  background-color: #202020;
  border: none;
}

.profile__form-submit:hover {
  cursor: pointer;
  opacity: 0.6;
}

.profile__button_logout {
  margin: 0 auto;
  padding: 0;
  font-family: "Inter", ‘Arial’, sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #ee3465;
  background-color: #202020;
  border: none;
}

.profile__button_logout:hover {
  cursor: pointer;
  opacity: 0.6;
}

.profile__form-error {
  display: flex;
  justify-content: left;
  align-items: flex-start;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  text-align: start;
  color: #ee3465;
}

.profile__form-submit-success,
.profile__form-submit-failed {
  margin: 10px auto;
}

.profile__form-submit-success {
  color: #2be080;
}

.profile__form-submit-failed {
  color: #ee3465;
}

@media screen and (max-width: 768px) {
  .profile {
    padding: 236px 0 269px 0;
  }
  .profile__title {
    margin: 0 0 96px 0;
  }
  .profile__form-submit {
    margin: 194px 0 16px;
  }
}

@media screen and (max-width: 430px) {
  .profile {
    padding: 70px 30px 41px;
  }
  .profile__title {
    margin: 0 0 80px 0;
  }
  .profile__form {
    min-width: 260px;
  }
  .profile__form-submit {
    margin: 363px 0 16px;
  }
}
