.sign__label {
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #8b8b8b;
}

.sign__input {
  padding: 0 0 10px 0;
  padding-bottom: 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-overflow: ellipsis;
  border: none;
  border-bottom: 1px solid #424242;
  white-space: nowrap;
  overflow: hidden;
  background: #202020;
  color: #fff;
}

.sign__input-error {
  height: 12px;
  margin: 6px 0;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #ff4062;
}

.sign__input:last-child {
  margin: 0;
}

.sign__input:focus {
  outline: none;
}
