.promo {
  min-width: 320px;
  min-height: 560px;
  padding: 50px 70px 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #073042;
  color: #000;
  box-sizing: border-box;
}

.promo__title {
  max-width: 626px;
  margin: 0;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  letter-spacing: -0.04em;
  text-align: left;
  color: #ffffff;
}

.promo__logo {
  max-width: 722px;
  width: 100%;
  height: 244px;
  margin: 0 0 0 auto;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .promo {
    padding: 300px 40px 70px;
    justify-content: center;
  }
  .promo__title {
    text-align: center;
  }
  .promo__logo {
    width: 100%;
    height: 230px;
    margin: 140px auto 0;
  }
}

@media screen and (max-width: 460px) {
  .promo {
    padding: 183px 0 40px;
    justify-content: center;
  }
  .promo__title {
    margin: 0 10px;
    font-size: 31px;
    line-height: 39px;
  }
  .promo__logo {
    width: 100%;
    min-width: 320;
    margin: 60px auto 0;
    overflow: hidden;
  }
}
