.App {
  background-color: #202020;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  color: #ffffff;
}

.page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}
