.header {
  width: 100%;
  min-width: 320px;
  height: 74px;
  padding: 0 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #202020;
  box-sizing: border-box;
}

.header_main {
  background-color: #073042;
}

.header__logo {
  width: 38px;
  height: 38px;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .header {
    padding: 0 30px;
  }
}

@media screen and (max-width: 425px) {
  .header {
    padding: 0 14px;
  }
}
